img {
  width: 100%;
  margin-top: 1rem;
}

.about p{
  font-size: 0.8rem;
}

.about > :not(:last-child):not(:first-child) {
  margin-bottom: 1rem;
}

section a:hover {
  color: var(--section);
}

.contact {
  font-size: 0.7rem;
  border-top: 1px solid var(--main);
}

h2 {
  margin-top: 2rem;
}

p {
  line-height: 1.6;
}

.about a {
  text-decoration: underline;
  border-bottom: none;
}



